/* CSS Reset */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom proprieties */


/* Utils */

.flex {
    display: flex;
    flex-flow: row;
}

.container {
    margin: auto;
    width: 1080px;
}

/* Page bar */

.page-bar{
    background-color: lightblue;
    height: 70px;
    justify-content: center;
    align-items: center;
}



.bar {
    background-color: orange;
    justify-content: center;
    align-items: center;
    
}

.logo , .login , .home {
    border: 2px solid black;
    height: 50px;
}


.logo , .login{
    min-width: 20%;
    
}

.home {
    min-width: 60%;
}



/* Jumbotron */

.front {
    background-color: blue;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    background-color: rgb(170, 96, 170);
    width: 60%;
    height: 80%;
}



/* sections */

.section-white , .section-gray {
    height: 500px;
}


.section-white {
    background-color: white;
}


.section-gray {
    background-color: gray;;
}

.special-section {
    height: 800px;
    background-color: gray;
}


/* Contents */

.content-blue {
    background-color: lightblue;
    height: 400px;
    width: 40%;
}


.content-pink {
    background-color: pink;
    height: 400px;
    width: 20%;
}

.content-green {
    background-color: green;
    height: 700px;
    width: 60%;
}

section.flex {
    justify-content: center;
    align-items: center;
}


/* footer */

footer {
    background-color: rgb(46, 46, 46);

}


.footer-start {
    justify-content: center;
}



.footer-pink {
    margin: 20px 0px;
    background-color: pink;
    height: 500px;
    width: 20%;
    
}

.footer-blue {
    margin: 20px 0px;
    background-color: aqua;
    height: 500px;
    width: 10%;
    border: 2px solid white;
}




.footer-end {
    justify-content: center;
    align-content: flex-end;
    
}


.endbar {
    margin-top: 20px;
    background-color: lightblue;
    width: 50%;
    height: 200px;
}